#root {
    height: 97vh;
    display: flex;
    justify-items: center;
    align-items: center;
}

.calc {
    padding: 5px;
    background-color: black;
    margin: auto;
}

.output-container {
    display: flex;
    flex-direction: column;
}

.formula-screen {
    height: 25px;
    background-color: red;
    padding: 2px;
    text-align: right;
}

#display {
    height: 30px;
    background-color: cyan;
    padding: 2px;
    text-align: right;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.btn {
    height: 80px;
    width: 80px;
}

.row {
    display: flex;
}

.row:first-child > .btn:first-child {
    flex: 2;
}

.row:last-child > .btn:first-child {
    flex: 2;
}
